<div class="row">
    <div class="col-1 border text-center bg-secondary text-light">Sun</div>
    <div class="col-2 border text-center">Mon</div>
    <div class="col-2 border text-center">Tue</div>
    <div class="col-2 border text-center">Wed</div>
    <div class="col-2 border text-center">Thu</div>
    <div class="col-2 border text-center">Fri</div>
    <div class="col-1 border text-center bg-secondary text-light">Sat</div>
</div>
<div class="row">
    <div class="col-1 border text-left">( day )</div>
    <div class="col-2 border text-left">( day )</div>
    <div class="col-2 border text-left">( day )</div>
    <div class="col-2 border text-left">( day )</div>
    <div class="col-2 border text-left">( day )</div>
    <div class="col-2 border text-left">( day )</div>
    <div class="col-1 border text-left">( day )</div>
</div>
